<div data-role="view" data-title="View" data-layout="main" data-model="app.contactsView" data-show="app.contactsView.onShow" data-after-show="app.contactsView.afterShow" id="contactsViewScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span style="display:none" data-bind="text: strings.contactsView.title"></span>

        </div>
    </header>


    <!-- START_CUSTOM_CODE_contactsView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
   		<div class="introback">
	
			<div class="texto_pagetwo fade_leitura">ASSOPRE CONTINUAMENTE!<br><div class="efetuandoleitura animate_efetuandoleitura">EFETUANDO LEITURA...</div> </div>
    		<div class="contador"><div class="count">0</div></div>
    		<div class="aguarde"><div class="aguarde_letter">AGUARDE...</div></div>
	
			<a id="pagefour" class="botao_iniciar animate pagefour" style="display:none;" data-transition-native-androiddelay="1000" data-transition="slide" href="components/settingsView/view.html">PRÓXIMO</a>
		
		</div>
    <!-- END_CUSTOM_CODE_contactsView -->
</div>